.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.iconButton {
  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}
.iconButton:hover {
  background-color: rgba(223, 210, 232, 0.986) !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.todocard {
  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}
.todocard:hover {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
/*Custom fonts*/
@font-face {
  font-family: A;
  src: url(/public//fonts//Roboto/static/Roboto-Black.ttf);
  font-weight: 900;
}

/*Custom fonts*/
